
.overlay{
    position: absolute;
    bottom: 30;
    right: 0;
    opacity:  0;
}

.navbar {
    background-color: #DB0000 !important;
}

.add-to-cart {
    background-color: #DB0000 !important;
    position: relative;
}

#reset-button {
    padding-left: 10px;
}